{% extends 'app/base.html' %}

{% block content %}
  <h1>Donation Details</h1>
  <p><strong>Donor:</strong> {{ donation.donor.username }}</p>
  <p><strong>Amount:</strong> ₱{{ donation.amount }}</p>
  <p><strong>Message:</strong> {{ donation.message }}</p>
  <p><strong>Donation Date:</strong> {{ donation.donation_date|date:"F j, Y" }}</p>

  <a href="{% url 'donation_update' donation.pk %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'donation_delete' donation.pk %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'donation_list' %}" class="btn btn-secondary">Back to Donations List</a>
{% endblock content %}